@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-foreground {
    color: var(--foreground);
  }

  .bg-background {
    background-color: var(--background);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    /* ... other color variables */
  }

  .dark {

    /* ... dark mode styles */
    @layer base {
      .border-border {}

      * {
        @apply border-border min-w-0;
      }

      body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
      }
    }
  }
}